body {
   margin-top: 40px;
   padding-top: 40px;
   background-color: #d0e4f7; /* Old browsers */
}

#content {
   margin-top: 5px;
   margin-bottom: 5px;
}

#footer {
   margin-top: 50px;
   height: 50px;
   text-align: center;
   color: #666;
}

.selected, .selected td {
   background-color: #b3b6ff !important;
}

.coloredRows  .hiddenRow.selected, .coloredRows .hiddenRow.selected td {
   background-color: #ffb6ff !important;
}
.coloredRows .editedRow.selected, .coloredRows .editedRow.selected td {
   background-color: #93dddd !important;
}

.placeholder {
   color: #aaaaaa;
}

input.placeholder {
   padding-right: 2px !important;
}

#factorList td {
   max_width: 60px;
   overflow:hidden;
   text-overflow: ellipsis;
}

.geneList.dataTable td {
   max-width: 110px;
   overflow:hidden;
   text-overflow: ellipsis;
}

.ruleRow {
   border-bottom: 1px solid #eee;
   padding-bottom: 20px;
   margin-bottom: 20px;
}

.dataTables_filter, .dataTables_filter label {
   width: 100%;
}

.hidden {
   display: none;
}

.coloredRows .hiddenRow, .coloredRows .hiddenRow td {
   background-color: #ffb6b3 !important;
}

.coloredRows .editedRow, .coloredRows .editedRow td {
   background-color: #ffffb3 !important;
}

.span2-5 {
   width: 200px;
}

.span1-5 {
   width: 80px;
}

.well.form-inline .ruleTop {
   margin-top: 27px;
}

.well.form-inline {
   padding-top: 7px;
}

.row.pad {
   margin-bottom: 10px;
}

small.bigspace {
   padding-left: 10px;
}

#navigation ul {
   border-radius: 5px;
   padding-left: 20px;
   margin-top: 10px;
   left: -6px;
   border: 1px solid grey;
   background: white;
   z-index: 1000;
}

div.filter-label h4 {
   font-size: 17px;
   text-align: right;
   margin: 5px 0px;
   margin-right: -10px;
}

@media only screen and (min-width: 1450px) {
   div.bs-docs-sidebar {
      display: inline;
      visibility: visible;
   }

   ul.nav .main-menu {
      display: none;
      visibility: hidden;
   }
}

h3.filter-label {
   float: left;
}

.form-inline span.control-group {
   margin: 0px 0px 0px 20px;
}

.form-inline label {
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

.form-inline .sense-label {
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

#sequenceFilterOptions input[type=radio] {
   margin-left: 10px;
}
#floatingCirclesG{
   margin: 0 auto;
   position:relative;
   width:64px;
   height:64px;
   -moz-transform:scale(0.6);
   -webkit-transform:scale(0.6);
   -ms-transform:scale(0.6);
   -o-transform:scale(0.6);
   transform:scale(0.6);
}

.f_circleG{
   position:absolute;
   background-color:#FFFFFF;
   height:12px;
   width:12px;
   -moz-border-radius:6px;
   -moz-animation-name:f_fadeG;
   -moz-animation-duration:1.04s;
   -moz-animation-iteration-count:infinite;
   -moz-animation-direction:linear;
   -webkit-border-radius:6px;
   -webkit-animation-name:f_fadeG;
   -webkit-animation-duration:1.04s;
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-direction:linear;
   -ms-border-radius:6px;
   -ms-animation-name:f_fadeG;
   -ms-animation-duration:1.04s;
   -ms-animation-iteration-count:infinite;
   -ms-animation-direction:linear;
   -o-border-radius:6px;
   -o-animation-name:f_fadeG;
   -o-animation-duration:1.04s;
   -o-animation-iteration-count:infinite;
   -o-animation-direction:linear;
   border-radius:6px;
   animation-name:f_fadeG;
   animation-duration:1.04s;
   animation-iteration-count:infinite;
   animation-direction:linear;
}

#frotateG_01{
   left:0;
   top:26px;
   -moz-animation-delay:0.39s;
   -webkit-animation-delay:0.39s;
   -ms-animation-delay:0.39s;
   -o-animation-delay:0.39s;
   animation-delay:0.39s;
}

#frotateG_02{
   left:8px;
   top:8px;
   -moz-animation-delay:0.52s;
   -webkit-animation-delay:0.52s;
   -ms-animation-delay:0.52s;
   -o-animation-delay:0.52s;
   animation-delay:0.52s;
}

#frotateG_03{
   left:26px;
   top:0;
   -moz-animation-delay:0.65s;
   -webkit-animation-delay:0.65s;
   -ms-animation-delay:0.65s;
   -o-animation-delay:0.65s;
   animation-delay:0.65s;
}

#frotateG_04{
   right:8px;
   top:8px;
   -moz-animation-delay:0.78s;
   -webkit-animation-delay:0.78s;
   -ms-animation-delay:0.78s;
   -o-animation-delay:0.78s;
   animation-delay:0.78s;
}

#frotateG_05{
   right:0;
   top:26px;
   -moz-animation-delay:0.91s;
   -webkit-animation-delay:0.91s;
   -ms-animation-delay:0.91s;
   -o-animation-delay:0.91s;
   animation-delay:0.91s;
}

#frotateG_06{
   right:8px;
   bottom:8px;
   -moz-animation-delay:1.04s;
   -webkit-animation-delay:1.04s;
   -ms-animation-delay:1.04s;
   -o-animation-delay:1.04s;
   animation-delay:1.04s;
}

#frotateG_07{
   left:26px;
   bottom:0;
   -moz-animation-delay:1.17s;
   -webkit-animation-delay:1.17s;
   -ms-animation-delay:1.17s;
   -o-animation-delay:1.17s;
   animation-delay:1.17s;
}

#frotateG_08{
   left:8px;
   bottom:8px;
   -moz-animation-delay:1.3s;
   -webkit-animation-delay:1.3s;
   -ms-animation-delay:1.3s;
   -o-animation-delay:1.3s;
   animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
   0%{
      background-color:#000000}

   100%{
      background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
   0%{
      background-color:#000000}

   100%{
      background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
   0%{
      background-color:#000000}

   100%{
      background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
   0%{
      background-color:#000000}

   100%{
      background-color:#FFFFFF}

}

@keyframes f_fadeG{
   0%{
      background-color:#000000}

   100%{
      background-color:#FFFFFF}

}

div.img-left {
   margin: 5px;
   padding: 10px 20px 10px 5px;
   float:left;
   width: 550px;
}

div.img-left img {
   width: 550px;
}

ul.glossary {
   list-style-type: none;
}

ul.glossary li {
   padding: 10px 0;
}

ul.glossary .term {
   padding: 0 5px 0 0;
   font-weight: bold;
   font-size: 1.2em;
}

ol li {
   line-height: 30px;
}

div.use-case {
   margin: 20px 0;
}

div.use-case img {
   width: 550px;
   margin: 0px;
}

div.use-case .caption.right {
   float: right;
   max-width: 590px;
}

div.use-case .caption.left {
   float: left;
   max-width: 590px;
}

div.use-case h3 {
   margin-top: -5px;
   padding-top: 0px;
}
