body {
   padding-top: 40px;
   background-color: #d0e4f7; /* Old browsers */
}

#content {
   margin-top: 5px;
   margin-bottom: 5px;
}

#footer {
   margin-top: 50px;
   height: 50px;
   text-align: center;
   color: #666;
}

.selected, .selected td {
   background-color: #b3b6ff !important;
}

.coloredRows  .hiddenRow.selected, .coloredRows .hiddenRow.selected td {
   background-color: #ffb6ff !important;
}
.coloredRows .editedRow.selected, .coloredRows .editedRow.selected td {
   background-color: #93dddd !important;
}

.placeholder {
   color: #aaaaaa;
}

#factorList td {
   max_width: 60px;
   overflow:hidden;
   text-overflow: ellipsis;
}

.geneList.dataTable td {
   max-width: 110px;
   overflow:hidden;
   text-overflow: ellipsis;
}

.ruleRow {
   border-bottom: 1px solid #eee;
   padding-bottom: 20px;
   margin-bottom: 20px;
}

.dataTables_filter, .dataTables_filter label {
   width: 100%;
}

.hidden {
   display: none;
}

.coloredRows .hiddenRow, .coloredRows .hiddenRow td {
   background-color: #ffb6b3 !important;
}

.coloredRows .editedRow, .coloredRows .editedRow td {
   background-color: #ffffb3 !important;
}

.span2-5 {
   width: 200px;
}

.span1-5 {
   width: 80px;
}

.well.form-inline .ruleTop {
   margin-top: 27px;
}

.well.form-inline {
   padding-top: 7px;
}

.row.pad {
   margin-bottom: 10px;
}

small.bigspace {
   padding-left: 10px;
}
