body {
   padding-top: 40px;
   background-color: #d0e4f7; /* Old browsers */
}

#content {
   margin-top: 5px;
   margin-bottom: 5px;
}

#footer {
   margin-top: 50px;
   height: 50px;
   text-align: center;
   color: #666;
}

.selected, .selected td {
   background-color: #b3b6ff !important;
}

.placeholder {
   color: #aaaaaa;
}

.ruleRow {
   border-bottom: 1px solid #eee;
   padding-bottom: 20px;
   margin-bottom: 20px;
}

.dataTables_filter, .dataTables_filter label {
   width: 100%;
}
